@import "tailwindcss";

/* globals.css */
body {
  font-family: "Inter", sans-serif;
}

:root {
  --background: #f9fafb; 
  --text: #111827;       
  --border: #e5e7eb;     
  --muted: #6b7280;      
}

.dark {
  --background: #111827; 
  --text: #f3f4f6;       
  --border: #374151;     
  --muted: #9ca3af;      
}
