@import "tailwindcss";

/* globals.css */

/* 

:root {
  --background: #ffffff; 
  --foreground: #111111; 
  --border-color: #e5e7eb
}

.dark {
  --background: #1f2937; 
  --foreground: #ffffff; 
  --border-color: #4b5563}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
} */
